# Angular
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/.angularfrontend/cache

frontend/*~
frontend/*.sw[mnpcod]
frontend/.tmp
frontend/*.tmp
frontend/*.tmp.*
frontend/*.sublime-project
frontend/*.sublime-workspace
frontend/.DS_Store
frontend/Thumbs.db
frontend/UserInterfaceState.xcuserstate
frontend/$RECYCLE.BIN
frontend/testroute

frontend/*.log
frontend/log.txt
frontend/npm-debug.log*

frontend/.idea
frontend/.ionic
frontend/.sass-cache
frontend/.sourcemaps
frontend/.versions
frontend/.vscode
frontend/coverage
frontend/documentation
frontend/dist
frontend/documentation
frontend/node_modules
frontend/platforms
frontend/plugins
frontend/srcfrontend/environmentsfrontend/environment.ts
frontend/www
frontend/android
frontend/ios

frontend/.firebase/
frontend/.firebaserc
frontend/firebase.json
frontend/public/

# Express
backend/node_modules/
backend/dist/
backend/.env