<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
    <ng-template let-row>
      <td>
        <div class="font-small">{{ row.id }}</div>
      </td>
      <td>
        <span class="font-small">{{ row.email }}</span>
      </td>
      <td>
        <span class="font-small">{{ row.role }}</span>
      </td>
      <td>
        <ion-button color="success" (click)="showModal()">Actualizar</ion-button>
        <ion-button color="danger" (click)="showModal()">Eliminar</ion-button>
      </td>
    </ng-template>
  </ngx-table>

</ion-content>